__pycache__/
fractal_cpp/fractal.cpp
fractal_cpp/fractal.cpython-36m-x86_64-linux-gnu.so
fractal_cpp/parsing/antlr-complete.jar
fractal_cpp/parsing/antlr-runtime/
fractal_cpp/parsing/antlr4.a
fractal_cpp/parsing/lsystem.tokens
fractal_cpp/parsing/lsystemBaseVisitor.cpp
fractal_cpp/parsing/lsystemBaseVisitor.h
fractal_cpp/parsing/lsystemLexer.cpp
fractal_cpp/parsing/lsystemLexer.h
fractal_cpp/parsing/lsystemLexer.tokens
fractal_cpp/parsing/lsystemParser.cpp
fractal_cpp/parsing/lsystemParser.h
fractal_cpp/parsing/lsystemVisitor.cpp
fractal_cpp/parsing/lsystemVisitor.h
fractal_cpp/parsing/parser.a
fractal_cpp/parsing/runtime.tar
lsystem/
